{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> #}
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'style.css' %}" rel="stylesheet" media="screen" />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Shmarlovsky</a>
      </div>

      <div id="menu" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          {% block menu %}

          {% endblock %}
        </ul>
    </div><!--/.nav-collapse -->
</div>
</nav>

<div class="container">
    {% block content %}

    {% endblock%}
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">

</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!--<script src="{% static 'js/bootstrap.min.js' %}"></script> -->
<script src="{% static 'js/ajax.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>


